build
CMakeLists.txt.user
texmacs.1
*.o
*.kdev4
.kdev4
.vscode
*~
Testing
.idea
cmake-build-debug
.DS_Store
*.pyc
SVNREV
*.log
src/Plugins/Qt/moc_*.cpp
src/Objects
packages/windows/TeXmacs.iss
packages/macos/Info.plist
packages/windows/resource.rc
src/System/tm_configure.hpp
Makefile
TeXmacs/bin
TeXmacs/examples/plugins/dynlink/Makefile
config.status
misc/admin/admin.makefile
packages/centos/TeXmacs.spec
misc/scripts/fig2ps
misc/scripts/texmacs
packages/debian/changelog
packages/debian/control
packages/fedora/TeXmacs.spec
packages/macos/Base.xcconfig
packages/macos/Info-Xcode.plist
packages/mandriva/TeXmacs.spec
src/System/config.h
misc/doxygen/Doxyfile
TeXmacs/plugins
plugins/*/bin
packages/macos/TeXmacs.xcodeproj/xcuserdata
